.serviceOne {
  min-height: 100vh;
  background-color: burlywood;
}

.serviceOne div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.serviceOne div .service-image img {
  max-width: 600px;
  height: 400px;
}

.serviceOne div .service-content div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.serviceOne div .service-content div h1 {
  font-size: 32px;
  max-width: 500px;
}

.serviceOne div .service-content div .cards {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.serviceOne div .service-content div .cards .card .card-content {
  margin: 0;
}

.serviceOne div .service-content div .cards .card .card-content .card-icons {
  margin: 0;
}

.serviceOne div .service-content div .cards .card .card-content .card-icons .icon {
  width: 60px;
  height: 60px;
}

.serviceOne div .service-content div .cards .card .card-content .card-data {
  margin: 0;
}

.serviceOne div .service-content div .cards .card .card-content .card-data h5 {
  margin: 0;
}

.serviceOne div .service-content div .cards .card .card-content .card-data p {
  margin: 0;
}

@media screen and (max-width: 1150px) {
  .serviceOne div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .serviceOne div .service-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .serviceOne div .service-content div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
  }
  .serviceOne div .service-content div h1 {
    font-size: 32px;
    max-width: 800px;
  }
}

@media screen and (max-width: 550px) {
  .serviceOne div .service-image img {
    width: 100%;
  }
  .serviceOne div .service-content div h1 {
    font-size: 20px;
  }
  .serviceOne div .service-content div .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .serviceOne div .service-content div .cards .card .card-content {
    margin: 0;
  }
  .serviceOne div .service-content div .cards .card .card-content .card-icons {
    margin: 0;
  }
  .serviceOne div .service-content div .cards .card .card-content .card-icons .icon {
    width: 40px;
    height: 40px;
  }
  .serviceOne div .service-content div .cards .card .card-content .card-data {
    margin: 0;
  }
  .serviceOne div .service-content div .cards .card .card-content .card-data h5 {
    margin: 0;
  }
  .serviceOne div .service-content div .cards .card .card-content .card-data p {
    margin: 0;
  }
}
/*# sourceMappingURL=gallery.css.map */